.chat_input {
    position: relative;
    width: 74%;
    margin-right: 10px;
}

.chat_btn {
    width: 8vw;
}

#message_loader {
    height: 80vh;
    overflow: auto;
}

.online_users {
    list-style: none;
}