* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    width: 100vw;
    height: 100vh;

    margin-top: -3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box-w-login {
    width: 320px;
}